{% extends "base.jinja2" %}

{% block content %}
    {% for node in nodes %}
        <div class="node-instructions">
            {% include "node.jinja2" %}
        </div>
    {% endfor %}
{% endblock %}
