<h1>{{name}} ({{address}})</h1>
<p>You are a regular computer on {{network}}. Your nameserver's IP address is {{nameserver}}.</p>
<h3>Getting Started </h3>
<p>
    Find a place on {{network}}. Make sure you have a bunch of packet
    forms. When you want to send a message, fill out a packet and hand 
    it to someone next to you. When you are handed a packet, check who 
    it is addressed to. If it's addressed to you ({{address}}), keep it,
    read its message, and respond if you want to. If the packet is not
    addressed to you, pass it along.
</p>
<h3>Round 1</h3>
<p>
    In Round 1, your goal is to chat with {{round1}}. First, you'll 
    need to get her IP address. Write to your nameserver ({{nameserver}}) and ask for {{round1}}'s 
    IP address. Then you will be able to write to {{round1}}. Start by saying hi, 
    then see if you can have a back-and-forth conversation. If
    you want to say something complicated, you'll probably need to use more than 
    one packet. At the same time, someone else will be trying to chat with you.
</p>
<h3>Round 2</h3>
<p>
    Round 2 will be trickier--your goal is to send your poem to {{round2}}. Your poem 
    will not fit in a single packet, so you will need to break it up into pieces. 
    There's no way to tell the order in which packets will arrive. Worse, some packets
    might be lost in transit. How can you ensure that {{round2}} receives your entire 
    poem and can put it back together again at the end? At the same time, someone else
    will be sending you her poem.
</p>
